.mergeSetterbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 7%;
  top: 13%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.mergeSetterbox #mergeSetterBtn {
  background: transparent;
  height: 5em;
  width: 4em;
  border: none;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mergeSetterbox #mergeSetterBtn p {
  margin: 0;
  padding: 0;
  color: #826e9f;
  font-family: Rubik;
  font-size: 500%;
  font-weight: 1000;
  margin-top: -60px;
}

#mergeSetterBtn:hover p {
  color: #d3c7e5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mergeSet1,
#mergeSet2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

#mergeSpeedLabel,
#mergeNumberLabel {
  margin: 0;
  margin-bottom: 6px;
  color: #826e9f;
  font-size: 160%;
  letter-spacing: 1px;
}

#mergeBtns #mergeButton1,
#mergeBtns #mergeButton2 {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 50px;
  background: #826e9f;
  font-size: 150%;
  font-family: Rubik;
  color: #d3c7e5;
  border: none;
}

#mergeBtns #mergeButton1:hover,
#mergeBtns #mergeButton2:hover {
  background: #d3c7e5;
  color: #826e9f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#mergeBtns #mergeButton1 {
  margin-right: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#mergeBtns #mergeButton2 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.mergeSetterbox.inactive {
  top: -100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mergeSetter {
  width: 27%;
  height: 18%;
  overflow-x: hidden;
  position: fixed;
  top: -100%;
  right: 5.5%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
  font-family: Rubik;
}

.mergeSetter #mergeSetterDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mergeSetter .mergeClose {
  position: absolute;
  right: 8%;
  height: 1.2em;
  width: 1em;
  font-size: 190%;
  color: #826e9f;
}

.mergeSetter .mergeClose:hover {
  color: #d3c7e5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mergeSetter.active {
  top: 9%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 930px) {
  .mergeSetter {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 901px) {
  #mergeButton1,
  #mergeButton2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  #mergeButton1 {
    margin-right: 10px !important;
  }
  #mergeSpeedLabel,
  #mergeNumberLabel {
    font-size: 110%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1001px) {
  #mergeButton1,
  #mergeButton2 {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  #mergeButton1 {
    margin-right: 10px !important;
  }
  #mergeSpeedLabel,
  #mergeNumberLabel {
    font-size: 130%;
  }
}
/*# sourceMappingURL=MergeSetter.css.map */