$yellow: #f6e710;

.quickSort {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  background: #fffefa;
  width: 100%;
  height: 100vh;
}
.quickTitle {
  display: none;
  padding: 0;
  width: 100%;
  height: auto;
  flex-direction: row;
  position: relative;
  margin-bottom: 100px;
  z-index: 2;
  #title {
    color: $yellow;
    font-family: ShadowIntoLight;
    position: absolute;
    z-index: 0;
    font-size: 550%;
    left: 7%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 2px;
    font-weight: 400;
  }
}

#done-Div {
  display: none;
  position: absolute;
  background: transparent;
  top: 47%;
  left: 44.75%;
  #done-Text {
    background: transparent;
    color: $yellow;
    font-family: NunitoLight;
    letter-spacing: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 111px;
    animation: type 1s steps(16, end);
    &::after {
      content: "";
      position: absolute;
      right: 0px;
      width: 1px;
      height: 40%;
      border-right: 2px solid #efa9fa;
      animation: blink 0.5s infinite ease;
    }
    @keyframes type {
      from {
        width: 0;
      }
    }
    @keyframes blink {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

#quickDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  #car {
    margin: 5px;
    background-size: cover;
    z-index: 2;
  }
}

#backBtn-Div {
  width: 10%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 5%;

  #back-btn {
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 170%;
    font-family: ShadowIntoLight;
    color: $yellow;
    border: 3px solid $yellow;
    background: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    letter-spacing: 5px;
    margin-right: 50px;
    &:hover {
      background: $yellow;
      color: #164053;
      transition: 0.4s;
    }
  }
}

#btn-Div {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 35%;

  #again-btn,
  #start-btn {
    display: none;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 170%;
    font-family: ShadowIntoLight;
    color: #f6e710;
    border: 3px solid #f6e710;
    background: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    letter-spacing: 5px;
    &:hover {
      background: $yellow;
      color: #164053;
      transition: 0.4s;
    }
  }
  #start-btn {
    margin-right: 60px;
  }
}

/*#explo-Btn,
#quickAnim-Btn {
  height: 370px;
  width: 300px;
  top: 28%;
  position: absolute;
  z-index: 1;
  border: none;
  background: rgba(255, 253, 253, 0.46);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: -0.03em;
  font-family: Bodoni;
  font-size: 230%;
  color: #000;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background: rgba(32, 33, 43, 0.46);
    color: $yellow;
  }
}
#quickAnim-Btn {
  right: 55%;
}
#explo-Btn {
  left: 55%;
}*/
#quickSetterBtn {
  display: none;
}

#qucikExplonationDiv {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  #choosePivot,
  #pivCompare,
  #pointer1,
  #firstEnd,
  #secondStart,
  #swaping,
  #secondEnd,
  #thirdEnd,
  #end {
    position: absolute;
    top: 20%;
    font-family: ShadowIntoLight;
    letter-spacing: 1px;
    color: $yellow;
    font-size: 160%;
    font-weight: 100;
    opacity: 0;
    margin: 0;
  }
  #choosePivot {
    left: 31%;
  }
  #secondStart {
    left: 36%;
  }
  #secondEnd {
    left: 27%;
  }
  #thirdEnd {
    left: 25%;
  }
  #pivCompare {
    left: 34%;
  }
  #pointer1 {
    left: 30%;
  }
  #firstEnd {
    left: 25%;
    margin-top: -75px;
  }
  #swaping {
    left: 18%;
    margin-top: -80px;
  }
  #end {
    left: 32%;
    font-size: 220%;
  }
}

#quickExpButtonDiv {
  width: 20%;
  height: auto;
  display: none;
  justify-content: center;
  position: absolute;
  align-items: center;
  z-index: 1;
  #qucikExpStartBtn {
    color: $yellow;
    font-family: ShadowIntoLight;
    padding: 3px;
    letter-spacing: 6px;
    padding-left: 23px;
    padding-right: 17px;
    font-size: 35px;
    border: 3px solid $yellow;
    margin-right: 50px;
    border-radius: 50px;
    background: transparent;
    &:hover {
      background: $yellow;
      color: #164053;
      transition: 0.4s;
    }
  }
}

#quickExpImages {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20%;
  left: 2%;
  top: 2%;
  #row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    img {
      width: 20%;
    }
    p {
      color: $yellow;
      font-family: ShadowIntoLight;
      font-size: 120%;
      letter-spacing: 1px;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 850px) {
  #quickDiv {
    display: none!important;
  }
}
