$font: #000;
$fontRegular: BitterRegular;
$fontLight: BitterLight;
$fontExtraLight: BitterExtraLight;
.thirdPage {
  position: absolute;
  margin-top: 200vh;
  width: 100%;
  height: 100vh;
#letseeTxt {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $fontRegular;
  font-size: 600%;
  color: $font;
  margin: 0;
  margin-top: 5%;
}
#havehereTxt {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $fontLight;
  font-size: 400%;
  color: $font;
  margin: 0;
  margin-bottom: 2.5%;
}

#boxContainer {
  width: 100%;
  display: none;
  flex-direction: column;
  margin: 0;
  #row1, #row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #bubbleBox2,
    #quickBox2,
    #mergeBox2,
    #insertionBox2,
    #countingBox2,
    #bucketBox2 {
      width: 20%;
      height: 200px;
      background: #fffcf4;
      border: 5px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 1%;
      &:hover {
        transform: scale(1.05, 1.05);
        transition: transform 0.7s;
        background: #000;
      }
      &:hover #text1 {
        opacity:1;
      }
      &:hover #text2 {
        opacity:1;
      }
    }
  }
}

#bubbleBox,
#quickBox,
#mergeBox,
#insertionBox,
#countingBox,
#bucketBox {
  position: absolute;
  width: 15%;
  height: 300px;
  background: #fffcf4;
  border: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.7s;
    background: #000;
  }
  &:hover #text1 {
    opacity:1;
  }
  &:hover #text2 {
    opacity:1;
  }
}
#bubbleBox {
  left: 25%;
  &:hover ~ #quickBox {
    left: 44%;
    transition: 0.5s;
  }
  &:hover ~ #mergeBox {
    left: 50%;
    transition: 0.5s;
  }
  &:hover ~ #insertionBox {
    left: 56%;
    transition: 0.5s;
  }
  &:hover ~ #countingBox {
    left: 62%;
    transition: 0.5s;
  }
  &:hover ~ #bucketBox {
    left: 68%;
    transition: 0.5s;
  }
}
#quickBox {
  left: 31%;
  &:hover ~ #mergeBox {
    left: 50%;
    transition: 0.5s;
  }
  &:hover ~ #insertionBox {
    left: 56%;
    transition: 0.5s;
  }
  &:hover ~ #countingBox {
    left: 62%;
    transition: 0.5s;
  }
  &:hover ~ #bucketBox {
    left: 68%;
    transition: 0.5s;
  }
}
#mergeBox {
  left: 37%;
  &:hover ~ #insertionBox {
    left: 56%;
    transition: 0.5s;
  }
  &:hover ~ #countingBox {
    left: 62%;
    transition: 0.5s;
  }
  &:hover ~ #bucketBox{
    left: 68%;
    transition: 0.5s;
  }
}
#insertionBox {
  left: 43%;
  &:hover ~ #countingBox {
    left: 62%;
    transition: 0.5s;
  }
  &:hover ~ #bucketBox {
    left: 68%;
    transition: 0.5s;
  }
}
#countingBox {
  left: 49%;
  &:hover ~ #bucketBox{
    left: 68%;
    transition: 0.5s;
  }
}
#bucketBox {
  left: 55%;
}
#link {
  text-decoration: none;
  font-family: $fontExtraLight;
  color: #fffcf4;
  letter-spacing: 2px;
  #text1, #text2 {
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  #text1 {
    font-size: 250%;
  }
  #text2 {
    font-size: 350%;
  }
}
}


@media screen and (max-width: 700px) {
  #havehereTxt {
    font-size: 300%!important;
    margin-bottom: 0!important;
  }
  #letseeTxt {
    font-size: 500%!important;
  }
    #bubbleBox,
    #quickBox,
    #mergeBox,
    #insertionBox,
    #countingBox,
    #bucketBox {
      display: none!important;
      width: 0!important;
    }
    #boxContainer {
      display: flex!important;
    }

    
}

@media screen and (max-width: 1000px) and (min-width: 701px) {
  #havehereTxt {
    font-size: 350%!important;
  }
  #letseeTxt {
    font-size: 550%!important;
  }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  #link #text1 {
    font-size: 150%!important;
  }
  #link #text2 {
    font-size: 250%!important;
  }
}

@media screen and (max-width: 1150px) and (min-width: 901px){
  #link #text1 {
    font-size: 150%!important;
  }
  #link #text2 {
    font-size: 250%!important;
  }
}
